@font-face {
    font-family: 'madeType-outerSans-black';
    src: url("../fonts/madeType/outerSans/black.woff2") format('woff2'),
    url('../fonts/madeType/outerSans/black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'madeType-outerSans-black-outlined';
    src: url("../fonts/madeType/outerSans/black-outlined.woff2") format('woff2'),
    url('../fonts/madeType/outerSans/black-outlined.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'madeType-outerSans-light';
    src: url("../fonts/madeType/outerSans/light.woff2") format('woff2'),
    url('../fonts/madeType/outerSans/light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}