@import "fontface.css";
@import url('https://fonts.googleapis.com/css2?family=Dorsa&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --color-background: 0deg 0% 15%;
        --color-foreground-primary: 0deg 0% 100%;
    }

    html {
        -webkit-tap-highlight-color: transparent;
        scroll-behavior: smooth;
    }

    body {
        font-family: 'helvetica', sans-serif;
        @apply text-body-sm bg-background text-foreground-primary;
    }

    .theme-light {
        --color-background: 60deg 100% 98%;

        --color-foreground-primary: 0deg 0% 20%;
        --color-foreground-secondary: 0deg 0% 34%;

        @apply bg-background text-foreground-primary;
    }

    .theme-dark {
        --color-background: 0deg 0% 15%;

        --color-foreground-primary: 0deg 0% 100%;
        --color-foreground-secondary: 0deg 0% 70%;

        @apply bg-background text-foreground-primary;
    }
}

@layer components {
    .rounded-section {
        @apply rounded-t-[30px] lg:rounded-t-[75px];
    }
}

@layer utilities {
    @variants responsive {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
    }
}
