@import 'radial-progress.css';
@import 'heart.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
}

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --foreground-rgb: 255, 255, 255;*/
/*        --background-rgb: 21, 21, 21;*/
/*    }*/
/*}*/

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
}

@layer components {
    .padded {
        @apply px-4 md:px-8 lg:px-10;
    }

    .falling-shadow {
        filter: drop-shadow(0px -1svh 30px rgba(255, 255, 255, 0.7));
    }
}
