.radial-progress {
    --value: 0;
    --thickness: 0.25rem;

    @apply bg-transparent rounded-full place-content-center inline-grid relative w-full h-full;
    vertical-align: middle;
    box-sizing: content-box;
}
.radial-progress::-moz-progress-bar,
.radial-progress::-webkit-progress-value,
.radial-progress::-webkit-progress-bar{
    @apply bg-transparent appearance-none;
}

.radial-progress:before{
    @apply absolute rounded-full;
    content: "";
}
.radial-progress:before {
    @apply -inset-[var(--thickness)];
    background: radial-gradient(farthest-side, currentColor 98%, #0000) right/var(--thickness)
    var(--thickness) no-repeat,
    conic-gradient(from 90deg, currentColor calc((var(--value)) * 1%), #0000 0);
    -webkit-mask: radial-gradient(
            farthest-side,
            #0000 calc(100% - var(--thickness)),
            #000 calc(100% - var(--thickness))
    );
    mask: radial-gradient(
            farthest-side,
            #0000 calc(100% - var(--thickness)),
            #000 calc(100% - var(--thickness))
    );
}